.main-header
  .main-header__left-box
    %h2.main-header__left-box__current-group{"data-group_id": "3854"}
      = @group.name
    %ul.main-header__left-box__member-list
      Member：
      = current_user.name
      %li.main-header__left-box__member-list__member 
  .main-header__edit-btn
    = link_to edit_group_path(@group) do
      Edit